.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}

.navbarGroup {
  display: flex;
  flex-direction: row;
}

.navbarListItem {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: auto;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  padding: 0 1rem;
  cursor: pointer;
}

.profileToggled {
  composes: profile;
  border-radius: 3px 3px 0 0 / 3px 3px 0 0;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.profileDropdown {
  position: absolute;
  top: 58;
  left: -1;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 0 0 3px 3px / 0 0 3px 3px;
  border-top: none;
  width: calc(100% + 2px);
}

.hidden {
  display: none;
}

.dropdownItem {
  padding: 0.5rem 0;
  padding-left: 1rem;
  color: rgba(0,0,0,0.6);
}

.dropdownItem:last-child {
  padding-bottom: 1.5rem;
}

.dropdownItem:hover {
  color: rgba(0,0,0,0.87);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search {
  composes: search from 'styles/forms.css';
}

.signupButton {
  composes: btnPrimary from 'styles/buttons.css';
  font-size: 1em;
}

.login {
  color: rgba(0,0,0,0.87);
  cursor: pointer;
}

.modalBackground {
  composes: modalBackground from 'styles/modals.css';
}


/*Transitions*/

.enter {
  opacity: 0.01;
  transition: opacity 1.5s ease-in;
}
.enter.enter-active {
  opacity: 1;
}
.leave {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
.leave.leave-active {
  opacity: 0.01;
}
.appear {
  opacity: 0.01;
}
.appear.appear-active {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
