.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #888;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
  transition: all .3s;
}

.input:focus {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}

::-webkit-input-placeholder {
    color:    rgba(0,0,0,0.25);
}
:-moz-placeholder {
   color:    rgba(0,0,0,0.25);
   opacity:  1;
}
::-moz-placeholder {
   color:    rgba(0,0,0,0.25);
   opacity:  1;
}
:-ms-input-placeholder {
   color:    rgba(0,0,0,0.25);
}
:placeholder-shown {
  color:    rgba(0,0,0,0.25);
}

.search {
  border: 1px solid green;
}

.search:placeholder {
  color: orange;
}
