html, body {
  font-size: 1em;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: rgb(255,252,240);
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, p, div, ul, li {
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,0.87);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #00B0FF;
}
