.contentWrapper {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 800px;
}

/****************
User Details view
****************/

.profile {
  display: flex;
  flex-direction: row;
  height: 250px;
}

.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.profileDetails {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.username {
  font-size: 2.5em;
}

.contact {
  font-size: 1.1em;
}

.social {
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0;
}

.profileScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.score {
  font-size: 3em;
  font-weight: 400;
}

.badge {

}

.follow {
  composes: btnFlat from 'styles/buttons.css';
  font-size: 1.1em;
  border-radius: 30px;
  padding: 10px 40px;
}

.btnDisabled {
  composes: follow;
  composes: btnPrimary from 'styles/buttons.css';
}


/****************
User Data view
****************/

.userData {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
}

.aggregatedData {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statisticHeader {
  font-size: 1.5em;
}

.titleRow {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 2rem;
  cursor: pointer;
  padding-bottom: 2rem;
}

.userFeed {
  padding-bottom: 3rem;
}


/*Need to combine these two for the sake of DRY*/
.feedTitle {
  border-bottom: 1px solid rgba(0,0,0,0.25);
  width: 33.33%;
  text-align: center;
  padding: calc(0.5rem + 1px);
  padding-bottom: 0.5rem;
}

.feedTitleActive {
  border: 1px solid rgba(0,0,0,0.25);
  border-bottom: none;
  width: 33.33%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-align: center;
  padding: 0.5rem;
  padding-bottom: calc(0.5rem + 1px);
}

.feedList {
  display: flex;
  flex-flow: column nowrap;
}

.noUpvotes {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  color: rgba(0,0,0,0.4);
}

/*Placeholders*/

.socialPlaceholder {
  composes: socialPlaceholder from 'styles/placeholders.css';
}

.profilePlaceholderLarge {
  composes: profilePlaceholderLarge from 'styles/placeholders.css';
}
