.newsfeed {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #777;
  background: #bbb;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.newsfeedToggled {
  composes: newsfeed;
}

.newsfeedDropdown {
  position: absolute;
  top: 50;
  right: -1;
  display: flex;
  flex-flow: column nowrap;
  background: #bbb;
  border: 1px solid #777;
  width: 250px;
  min-height: 100px;
  max-height: 300px;
  overflow: scroll;
}

.hidden {
  display: none;
}
