.row {
  display: flex;
  flex-direction: row;
}

.voting {
  composes: voting from 'styles/voting.css'
}

.votes {
  composes: votes from 'styles/voting.css'
}

.arrowUp {
  composes: arrowUp from 'styles/voting.css';
}
.arrowDown {
  composes: arrowDown from 'styles/voting.css';
}

.profileImage {
  width: 70px;
}

.profileDetails {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}

.reply {
  display: flex;
  align-items: center;
}

.commentBody {
  padding-left: 50px;
  padding-top: 0.5rem;
  line-height: 1.5;
}


/* These are all temporary */

.profilePlaceholder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: rgba(0,0,0,0.25);
}
